
.container-full .content{
	padding: 0px;
}
.container-full .content-header{
	/*padding: unset;*/
}

.text-white{
	color: #fff!important;
}
.p-10{
	padding: 10px;
}

.p-b-50{
	padding-bottom: 50px;
}

.main-header{
	/*border-bottom: 1px solid #fff*/
}t

.mx-3{
	max-width: 150px;
	max-height: 150px;
}


	.px-3:hover .img2{
		display: block!important;
	}
	.px-3:hover .img1{
		display: none!important;
	}

	.img1,.img2{
		max-width: 100px;
		position: relative;
		display: unset!important;
	}

	img.d-none{
		display: none!important;
	}



.owl-carousel .prev-slide {
    left: -30px;
}

.main-header .navbar-static-top{
	/*position: absolute;*/
	background: transparent!important;

}



.main-header{
	background: transparent;
}





@media (max-width: 768px){
	.main-header .navbar-static-top{
	/*background: #063a69!important;*/
	background: #004182!important;
	

	  /*background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;*/

	}

	.main-header .navbar-static-top.x{
	/*background: #063a69!important;*/
	background: #004182!important;
	

	  /*background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;*/

	}
}

.main-header .navbar-static-top.affix{
	/*background: #063a69!important;*/


	background: #004182!important;

	/*position: absolute;*/
	  /*background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;*/
	

}
.wrapper{
	/*background: #063a69!important;*/
	background: #004182!important;


	  /*background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;*/

}

.main-header .navbar a{
	font-size:20px;
}

.owl-carousel .next-slide {
    right: -30px;
}
.owl-carousel .nav-btn {
    position: absolute;
    cursor: pointer;
    top: 50px;
}
.breadcrumb{
	margin-bottom: 10px;
}

.background-primary{
	background: #063a69!important;
	    /*background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;*/
}

.content-header {
	padding-top: 20px;
}


.background-blue-y{
	  background-image: linear-gradient(to bottom, #003f80, #00599d, #0074b9, #0091d4, #00aeef)!important;

}

.background-blue{
	background-color: #004182!important;
}
.main-header .background-blue.x.navbar.navbar-static-top{
	/*position: absolute;*/
	background-color: #004182!important;
	

}
